<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="67f46249-b434-4b85-a51e-be6cedea3369" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<global-property doc:name="Global Property" doc:id="a706471a-2e0c-4653-a3b8-a125b979a5fa" name="env" value="test" />
	<configuration-properties doc:name="Configuration properties" doc:id="120d73b7-1327-4b63-b7a6-8052817a7b83" file="properties\Test.yaml" />
</mule>
